/* ================================
        Variables css
================================ */

// Colors
$white: #fff;
$black: #000;
$lightGrey: #F5F5F5;
$blue: #01AAF7;
$greyText: #9C9D9E;
$darkBlue: #353154;
