/* =============
    Pricing
============= */
#pricing{
  background-color: $lightGrey;
  text-align: center;

  h1{
    font-size: rem-calc(30);
  }
  p{
    color: $greyText;
    font-size: rem-calc(14);
    font-weight: 600;
    line-height: 26px;
  }

  section{
    background-color: $blue;
    color: $white;
    padding: 26px 0 30px;
    margin-top: 16px;

    h2{
      margin: 0;
      font-family: Open Sans;
      font-size: rem-calc(33);
      font-weight: 600;
    }
  }

  ul{
    background-color: $white;
    padding: 10px;
    li{
      display: flex;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      p{
        color: $black;
        text-align: left;
        font-size: rem-calc(15);
        font-weight: 600;
        margin-right: 10px;
        margin-left: 3px;
      }
    }
  }

a:link, a:visited{
  color: $blue;
  }

a:hover, a:active{
  color: $white;
  }



}
